* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .inner {
        max-width: 750px;
        margin: 0 auto;
        word-wrap: break-word;
        word-break: keep-all;
    }
}

.wrap {
    text-align: center;
    padding-top: 2em;
}

.footer {
    text-align: center;
    background-color: #bd2333;
    height: 100px;
}

.img_wrap img {
    max-width: 100%;
    height: 20%;
}

.map iframe {
    margin: 0 auto;
    width: 80vw;
    height: 60vw;
    padding-top: 1em;
}

.name {
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}

.information {
    border-bottom: 1px solid gray;
    margin-top: 1em;
    padding-bottom: 1em;
}

.map {
    margin-top: 1em;
}

footer .inner {
    padding-top: 2em;
}

.content {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

.back {
    color: #bd2333;
    margin-top: 0.5em;
}

.info {
    text-align: left !important;
    margin-top: 0.5em;
}

.position {
    margin-top: 0.5em;
}

.tel {
    margin-top: 1em;
}

.inner a {
    text-decoration-line: none;
}